* + * {
    margin-top: 20px;
}

.republican {
    background-color: rgba(255, 0, 0, .7);
}

.democrat {
    background-color: rgba(0, 0, 255, .7);
}

.dropped {
    background-color: rgba(50, 50, 50, .7);
}
